// 公共样式
.displayFlex {
  display: flex;
  align-items: center;
}
.nutinput {
  border-radius: 5px;
  :deep(.nut-input) {
    padding: 6px 12px !important;
    border-radius: 5px;
    box-sizing: border-box;
  }
}
.greenBorder {
  border: 1px solid #76c8ac;
}
