<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Vue 监测数据变化的原理(对象及数组)</title>
        <!-- 引入 Vue  -->
        <script type="text/javascript" src="./vuejs/vue.js"></script>
    </head>
    <body>
        
        <div id="root">
            <!-- 1、Vue 检测 <对象> 内数据的改变的方法模拟(数据代理) 在下方 -->
            <!-- 
                2、向响应式对象中添加一个 property，并确保新 property 同样是响应式的，且触发视图更新(vm._data就是响应式对象)
                    (1) 不直接 vm._data.对象.添加的属性 = 赋值 这样的方式添加属性 的原因是：
                        在初始化时，Vue 为 _data 内的所有数据做了响应式代理，便于解析模板、生成DOM等操作
                        这样的方式添加的属性是没有响应式代理的，更不会被页面获取到(没有对应 getter/setter)
                    (2) 不直接在 vm 上挂载需添加的属性 的原因是：
                        vm 身上的 data 属性是在初始化时将 _data 内数据代理出去了，本质上是为了方便的读写 _data 内数据
                        所以也不要这样做，不需要自己操作 vm 的数据，请让 Vue 挂载
                    (3) 两种方法后添加数据，且包含响应式的功能
                        a、Vue.set(target,'key',val)
                            *局限性：target 不能是 Vue实例(vm)或Vue实例的根数据对象(vm._data)
                            (此方法只可以给 _data 中某个对象添加数据，而不能直接在 _data 中添加数据)
                            (简单的讲：Vue.set 中，vm和vm._data 都不允许作为 target，而 vm.$set 方法可以)
                        b、vm.$set(target,'key',val)
                            挂载在 vm 上的添加数据的方法
                            优势：此方法可以直接为 _data 添加数据
                        c、target = vm.需添加数据对象
                            * 因为 _data 的数据代理，可以直接写 vm.需添加数据对象 替代 vm._data.需添加数据的对象
             -->
            <h2>{{student.name}}:真实年龄{{student.age.rAge}}对外宣称{{student.age.sAge}},朋友如下</h2>
            <button @click="addAtt">添加性别属性</button>
            <h3 v-if="student.sex">性别：{{student.sex}}</h3><!-- 这样写没有输出也不会报错，但直接{{sex}}就会报错 -->
            <!-- 直接访问 不存在 就会报错，访问 存在.不存在的属性 就会返回undefined，不输出任何内容 -->
            <ul><li v-for="(item, index) in student.friend" :key="index">{{item.name}} -- {{item.age}}</li></ul>
        </div>

        <script type="text/javascript">
            Vue.config.productionTip = false        // 阻止 Vue 在启动时生成生产提示，先调整整体配置再使用 vue

            const vm2 = new Vue({
                el: '#root',
                data: {
                    name: '兜里没有糖啦',
                    address: '杭州',
                    student: {
                        name: '石原',
                        age: {
                            rAge: 35,
                            sAge: 18
                        },
                        friend: [
                            {name: '小栗旬',age: 40},
                            {name: '新垣结衣',age: 34}
                        ]
                    }
                },
                methods: {
                    addAtt(){
                        // Vue.set(this._data.student,'sex','女')
                        this.$set(this.student,'sex','女')
                        // 函数内 this 指向 vm
                    }
                },
            })


            /* 1、Vue 检测 <对象> 内数据的改变的方法模拟(数据代理) */
            // (1) 构造函数
            function Observer(obj){
                // 汇总对象中所有的属性形成一个数组
                const keys = Object.keys(obj)
                // 遍历
                keys.forEach((k)=>{
                    Object.defineProperty(this,k,{
                        get(){
                            return obj[k]
                        },
                        set(val){
                            console.log('${k}被改变了,需解析模板，生成虚拟DOM，进行diff比较……')
                            obj[k] = val
                        }
                    })
                })
            }
            // (2) 创建一个监视的实例对象，用于监视data中属性的变化
            let data = {
                name: '七里香',
                author: '周杰伦'
            }
            const obs = new Observer(data)
            console.log(obs)
            // (3) 准备一个 vm实例对象
            let vm = {}
            vm._data = data = obs
            /* 
                没有 Vue 完整
                    (2) 不可以通过 vm.属性名更改和调用
                    (2) 只考虑了一层的数据
             */
            

        </script>
    
    </body>
</html>